/* https://colorhunt.co/palette/141534 */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    height: 100%;
    display: grid;
    grid-template-rows: 70px 1fr minmax(300px, 1fr) 100px;
    background-color: #1c4b82;
}

/* Header */
header {
    color: #dae1e7;
    background: #183661;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
header img {
    height: 40px;
}
header > img {
    margin-left: 10px;
}

header div {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

header div > div {
    padding: 10px;
    /* display: inline-block; Para una vez que entra a la página*/
    display: none;
}

header div > img {
    display: none;
    /* border: 2px solid #dd6b4d; */
    border-radius: 50%;
}

/* Footer */
footer {
    background-color: #183661;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer > a img {
    height: 40px;
}

footer > div {
    display: none;
}
